body {
    background-image: url("img/wallpaper.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode:lighten;
    margin: 50px 300px;
}

@media only screen and (min-width: 600px) and (max-width:1400px) {
    body {
        margin: 10px 40px;
    }
}

@media only screen and (max-width: 600px){
    body{
        margin: 5px 5px;
    }
    .pfp {
        width:200px !important ;
        height:auto;
    }
    .tech-icon{
        transform: scale(0.8);
    }
}

h1{
    cursor: default;
    transition: color 0.8s;
    text-align: center;
    font-size: 40px;
    color:rgb(149, 249, 33);
}


.pfp-container{
    display:flex;
    justify-content: center;
}

.pfp {
    width:250px;
    height:auto;
    border: 2px solid rgb(0, 106, 255);
    border-radius:150px;
    transition: width 0.7s;
}

.pfp:hover{
    width: 275px;
}


.container {
    background-color: rgba(59, 92, 226, 0.741);
    font-size: 1.5em;
    font-family: "Yatra One", Verdana;
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 5px 5px;
    border-radius: 20px;
    font-size: 20px;
}

.container p{
    margin: 5px 15px;
}

.container:hover h1{
    color: rgb(243, 137, 137);
}


#tech-stack ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 0px;
}

#tech-stack ul li{
    margin: 5px 5px;
    cursor: default;
    transition: transform 0.3s;
}

#tech-stack ul li:hover{
    transform: scale(1.1);
}

.tech-icon{
    width: 40px;
    height: auto;
    vertical-align:middle;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    text-decoration:none;
    margin-bottom: 10px;
}

.socials a{
    color: white;
    transition: transform 0.3s;
}
.socials a:hover{
    transform: scale(1.2);
}